/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.parent{
	-fx-background-color: transparent;
}
.pane{
	-fx-background-color: #45818e;
}

.paneEntete{
	-fx-background-color: #cccccc;
}

.paneInfoClient{
	-fx-background-color: #134F5C;
}
.paneMenu{
	-fx-background-color: #53527f;
}
.paneaccueil{
	-fx-background-color: #FFFFFF;
}

.paneDate{
	-fx-background-color: #134F5C;
}

.paneHeure{
	-fx-background-color: #134F5C;
}

.paneCompagnie{
	-fx-background-color: #134F5C;
}

.paneAeroport{
	-fx-background-color: #134F5C;
}

.paneFacture{
	-fx-background-color: #134F5C;
}

.paneListeInfo{
	-fx-background-color: #134F5C;
}

.trans-btn-white-border{
	-fx-background-color: #0066B4;
	-fx-background-radius: 20px;
	-fx-border-color: #cccccc;
	-fx-border-radius: 5px;
	-fx-border-width: 5px;
	-fx-text-fill: whiteamoke;
}